<!DOCTYPE html>
<html>
    <head>
        <title>DevBlogs</title>
    </head>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link type="text/css" rel="stylesheet" href="/stylesheet/app.css">
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
            <div class="header item"><i class="code icon"></i><a href="/">DevBlogs</a></div>
            </div>
        </div>